<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConspirawareServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://186.215.230.8:90/ConspirawareServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConspirawareServices"
                contract="ServiceReference1.IConspirawareServices" name="BasicHttpBinding_IConspirawareServices" />
        </client>
    </system.serviceModel>
</configuration>